.top-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}
.mid-layer{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 15px 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.15);
}


.arheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  margin-right: 20px;
}

.artitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}


.arbreadcrumb {
  font-size: 20px;
  text-align: right;
  gap: 0px;
  font-weight: 400;
  margin-bottom: 10px;
}
 
.arbreadcrumb a {
  text-decoration: none;
  color: #6c63ff;
  text-align: right;
}


.ar-container {
  padding: 14px 16px;
  background-color: #F2F6F9;
  font-family: Arial, sans-serif;
}