.change-password-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.change-password-form-container {
  flex: 1;
  padding: 40px;
}
.asterisk-pic{
  height: 17px;
  width: 17px;
}

.change-password-form-container h1 {
  font-size: 22px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #000;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.change-password-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color:#e0dede; /* White textbox */
  color: #000000; /* Black text */
}

.update-btn {
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.update-btn:hover {
  background-color: #333;
}
@media (max-width: 768px) {
  .change-password-form-container {
    flex: 1;
    padding: 0;
  }
}