:root {
  --primary-color: #6366f1;
  --secondary-color: #f97316;
  --background-color: #f0f4f8;
  --text-color: #1f2937;
  --card-bg: #ffffff;
  --border-radius: 12px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --eye-button-color: #606CF2;
  --trash-button-color: #F4415F;
  --edit-button-color: #6DACFB;
   --add-button-color: #28a745; 
  --present-button-color: #17a2b8;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: white;
}
